absl-py==2.1.0
accelerate==0.34.2
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
annotated-types==0.7.0
asttokens
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
backcall
beautifulsoup4
boltons
Brotli
certifi
cffi
chardet
charset-normalizer
click
colorama==0.4.6
cryptography
DataProperty==1.0.1
datasets==3.0.0
decorator
deepspeed==0.15.1
dill==0.3.8
dnspython==2.4.2
einops==0.8.0
et-xmlfile==1.1.0
evaluate==0.4.3
exceptiongroup
executing
expecttest==0.1.6
filelock
fire==0.6.0
flash-attn==2.6.3
frozenlist==1.4.1
fsspec==2023.10.0
gmpy2
hjson==3.1.0
huggingface-hub==0.25.0
hypothesis==6.88.4
idna
ipython
jedi
Jinja2
joblib==1.4.2
jsonlines==4.0.0
jsonpatch
jsonpointer==2.1
libarchive-c
lxml==5.3.0
MarkupSafe
matplotlib-inline
mbstrdecoder==1.1.3
mkl-fft
mkl-random
mkl-service==2.4.0
more-itertools
mpmath
multidict==6.1.0
multiprocess==0.70.16
networkx
ninja==1.11.1.1
nltk==3.9.1
numexpr==2.10.1
numpy
nvidia-ml-py==12.560.30
openpyxl==3.1.5
packaging
pandas==2.2.2
parso
pathvalidate==3.2.1
peft==0.12.0
pexpect
pickleshare
Pillow
pkginfo
pluggy
portalocker==2.10.1
prompt-toolkit
protobuf==5.28.2
psutil
ptyprocess
pure-eval
py-cpuinfo==9.0.0
pyarrow==17.0.0
pybind11==2.13.6
pycosat
pycparser
pydantic==2.9.2
pydantic_core==2.23.4
Pygments
pyOpenSSL
PySocks
pytablewriter==1.2.0
python-dateutil==2.9.0.post0
python-etcd==0.4.5
pytz
PyYAML
regex==2024.9.11
requests==2.32.3
rouge-score==0.1.2
ruamel.yaml
ruamel.yaml.clib
sacrebleu==2.4.3
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
sentencepiece==0.2.0
six
sortedcontainers==2.4.0
soupsieve
sqlitedict==2.1.0
stack-data
sympy
tabledata==1.3.3
tabulate==0.9.0
tcolorpy==0.1.6
tensorboardX==2.6.2.2
termcolor==2.4.0
threadpoolctl==3.5.0
tokenizers==0.19.1
tomli
toolz
torch==2.1.1
torchaudio==2.1.1
torchelastic==0.2.2
torchvision==0.16.1
tqdm==4.66.5
tqdm-multiprocess==0.0.11
traitlets
transformers==4.40.1
triton==2.1.0
truststore
typepy==1.3.2
types-dataclasses==0.6.6
typing_extensions
tzdata==2024.1
urllib3
wcwidth
word2number==1.1
xxhash==3.5.0
yarl==1.11.1
zstandard
